# TASCA MÈTODES DE MOSTREIG
## Nivell 1
### Excercici 1
#### he triat  un data set de eSports  en aquesta url :
https://www.kaggle.com/jackdaoud/esports-earnings-for-players-teams-by-game?select=highest_earning_players.csv

la variable que vui evaluar es el totalUSDPrize

In [1]:
import pandas as pd
import numpy as np
import matlab as mat
import random

In [2]:
df  = pd.read_csv(r'highest_earning_teams.csv')

In [3]:
df.describe()

             TeamId  TotalUSDPrize  TotalTournaments
count    928.000000   9.280000e+02        928.000000
mean    3836.927802   5.399183e+05         31.696121
std     8438.383941   1.902399e+06         61.075848
min      101.000000   1.750000e+02          1.000000
25%      227.000000   3.915000e+04          4.000000
50%      529.000000   1.165306e+05         11.000000
75%      789.000000   3.231491e+05         33.000000
max    24997.000000   3.381064e+07        808.000000

#### Mostra simple

In [4]:
simple_teams_df = df.sample(n = 500)
simple_teams_df

,TeamId,TeamName,TotalUSDPrize,TotalTournaments,Game,Genre
517,300,CDEC Gaming,3704903.32,52,Dota 2,Multiplayer Online Battle Arena
324,719,GamersOrigin,238280.44,13,Fortnite,Battle Royale
576,582,Ukranian National Team,75992.12,4,Dota 2,Multiplayer Online Battle Arena
463,814,Gen.G,165600.00,11,Counter-Strike: Global Offensive,First-Person Shooter
267,505,J Team,197654.10,15,League of Legends,Multiplayer Online Battle Arena
...,...,...,...,...,...,...
826,309,Mindfreak,54000.00,6,Hearthstone,Collectible Card Game
190,233,TCM Gaming,41244.11,41,Starcraft II,Strategy
41,759,Dallas Fuel,80000.00,3,Overwatch,First-Person Shooter
109,103,Millenium,673626.51,344,Starcraft II,Strategy
223,795,DragonX,694398.74,14,League of Legends,Multiplayer Online Battle Arena

In [5]:
simple_teams_df.describe()

             TeamId  TotalUSDPrize  TotalTournaments
count    500.000000   5.000000e+02        500.000000
mean    3902.998000   5.195915e+05         32.970000
std     8517.146071   1.602525e+06         66.612127
min      101.000000   3.060000e+02          1.000000
25%      216.000000   3.905348e+04          4.000000
50%      529.000000   1.144316e+05         10.500000
75%      787.000000   3.389935e+05         32.000000
max    24995.000000   1.998867e+07        808.000000

#### Mostra sistematica

In [6]:
random = np.random.randint(1,20)

size = df.shape[0]
sample_size = 100
interval = int(size/sample_size)
systematic_teams = df[random :size:interval]
systematic_teams

,TeamId,TeamName,TotalUSDPrize,TotalTournaments,Game,Genre
5,856,Vancouver Titans,950000.00,4,Overwatch,First-Person Shooter
14,771,Boston Uprising,288606.00,7,Overwatch,First-Person Shooter
23,24708,Talon Esports,159952.00,7,Overwatch,First-Person Shooter
32,468,Afreeca Freecs,105281.62,13,Overwatch,First-Person Shooter
41,759,Dallas Fuel,80000.00,3,Overwatch,First-Person Shooter
...,...,...,...,...,...,...
887,24946,Bazaar Gaming,300325.26,7,Arena of Valor,Multiplayer Online Battle Arena
896,638,Thai National Team,187000.00,2,Arena of Valor,Multiplayer Online Battle Arena
905,132,MVP,41363.97,2,Arena of Valor,Multiplayer Online Battle Arena
914,396,paiN Gaming,15000.00,1,Arena of Valor,Multiplayer Online Battle Arena
923,24781,Rex Regum Qeon,6286.80,2,Arena of Valor,Multiplayer Online Battle Arena

In [7]:
systematic_teams.describe()

             TeamId  TotalUSDPrize  TotalTournaments
count    103.000000   1.030000e+02        103.000000
mean    4434.077670   7.703460e+05         30.106796
std     9096.552696   3.476040e+06         59.857169
min      102.000000   3.000000e+02          1.000000
25%      209.000000   3.803776e+04          4.000000
50%      425.000000   1.103884e+05         10.000000
75%      780.000000   2.944656e+05         28.000000
max    24946.000000   3.381064e+07        488.000000

## Nivell 2 
### Exercici 2 
#### mostra estratificada

In [8]:
df['Genre'].value_counts()

Multiplayer Online Battle Arena    348
Battle Royale                      200
First-Person Shooter               200
Strategy                           100
Collectible Card Game               80
Name: Genre, dtype: int64

In [9]:
df['Genre'].describe()

count                                 928
unique                                  5
top       Multiplayer Online Battle Arena
freq                                  348
Name: Genre, dtype: object

In [10]:
from sklearn.model_selection import train_test_split
stratified_sample, _ = train_test_split(df, test_size=0.20, stratify=df[['Genre']])
stratified_sample

,TeamId,TeamName,TotalUSDPrize,TotalTournaments,Game,Genre
40,612,Team Skadis Gift,80797.99,10,Overwatch,First-Person Shooter
926,608,British National Team,2500.00,1,Arena of Valor,Multiplayer Online Battle Arena
88,318,Snake Esports,27410.98,9,Overwatch,First-Person Shooter
513,383,Chaos Esports Club,4588813.00,28,Dota 2,Multiplayer Online Battle Arena
2,768,New York Excelsior,1572618.50,18,Overwatch,First-Person Shooter
...,...,...,...,...,...,...
424,658,BIG,1003931.45,90,Counter-Strike: Global Offensive,First-Person Shooter
802,118,Fnatic,931148.76,39,Hearthstone,Collectible Card Game
925,713,Marines Esports,3429.60,1,Arena of Valor,Multiplayer Online Battle Arena
887,24946,Bazaar Gaming,300325.26,7,Arena of Valor,Multiplayer Online Battle Arena
281,197,Copenhagen Wolves,150220.76,29,League of Legends,Multiplayer Online Battle Arena

In [11]:
stratified_sample['Genre'].unique()

array(['First-Person Shooter', 'Multiplayer Online Battle Arena',
       'Collectible Card Game', 'Battle Royale', 'Strategy'], dtype=object)

In [12]:
stratified_sample['Genre'].describe()

count                                 742
unique                                  5
top       Multiplayer Online Battle Arena
freq                                  278
Name: Genre, dtype: object

#### SMOTE (Synthetic Minority Oversampling Technique).

In [13]:
import imblearn

In [14]:
from imblearn.over_sampling import SMOTE

In [15]:
df['Game'].value_counts()

Counter-Strike: Global Offensive    100
Overwatch                           100
Starcraft II                        100
PUBG                                100
Fortnite                            100
Dota 2                              100
League of Legends                   100
Heroes of the Storm                 100
Hearthstone                          80
Arena of Valor                       48
Name: Game, dtype: int64

In [16]:
teams_smote = df[(df['Game']=='Arena of Valor')| (df['Game']=='Overwatch')]

In [18]:
teams_smote = teams_smote.drop(columns =['TeamName','Genre'])

In [21]:
teams_smote['Game'] = [0 if x == 'Overwatch' else 1 for x in teams_smote['Game']]

In [28]:
teams_smote['Game'].value_counts()

0    100
1     48
Name: Game, dtype: int64

In [29]:
teams_smote['Game'].describe()

count    148.000000
mean       0.324324
std        0.469711
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: Game, dtype: float64

In [32]:
smote = SMOTE(sampling_strategy = 'minority')
X_sm, __ = smote.fit_resample(teams_smote, teams_smote['Game'])
X_sm

     TeamId  TotalUSDPrize  TotalTournaments  Game
0       760   3.105000e+06                 7     0
1       776   1.591136e+06                13     0
2       768   1.572618e+06                18     0
3       773   1.186278e+06                15     0
4       766   1.130000e+06                 6     0
..      ...            ...               ...   ...
195     586   2.500000e+03                 1     1
196     444   3.027809e+05                 4     1
197     537   4.125460e+04                 1     1
198   17653   2.290964e+05                 3     1
199     765   1.713598e+05                 3     1

[200 rows x 4 columns]

In [33]:
X_sm['Game'].value_counts()

1    100
0    100
Name: Game, dtype: int64

# Nivell 3 
## Exercici 3
### Genera una mostra a partir del metode Reservoir sampling

In [34]:
import random

def generator (max):
    number = 1
    while numer < max:
        number +=1
        yield number
stream = df['TotalUSDPrize']
k = 50
reservior =[]
for i, element in enumerate(stream):
    if i+1<=k:
        reservior.append(element)
    else:
        probability = k/(i+1)
        if random.random()<probability:
            reservior[random.choice(range(0,k))]=element

In [35]:
reservior

[66428.61,
 10000.0,
 1649386.58,
 136050.0,
 1558704.5,
 192653.77,
 542901.82,
 32400.0,
 1302176.88,
 5000.0,
 4588813.0,
 4252048.74,
 325502.87,
 336892.17,
 288606.0,
 1349801.0,
 138138.25,
 195460.56,
 42000.0,
 87185.26,
 31365.0,
 1151975.0,
 1472759.47,
 15000.0,
 118745.0,
 148594.21,
 31777.08,
 335161.0,
 140221.04,
 45750.0,
 544085.0,
 135273.04,
 238280.44,
 904666.99,
 98067.52,
 12799.81,
 237224.37,
 680000.0,
 37510.0,
 344871.14,
 129837.01,
 273145.71,
 319706.6,
 2805813.88,
 152173.93,
 483601.94,
 215250.0,
 750.0,
 840606.45,
 211777.93]

In [36]:
len(reservior)

50

In [40]:
a, b, c = min(reservior), max(reservior), sum(reservior)/len(reservior)
print('El valor minim és {0}, el maxim {1}, i la mitjana del premi és {2}'.format(a, b, c))

El valor minim és 750.0, el maxim 4588813.0, i la mitjana del premi és 585138.7914